{% extends 'base.html'  %}
{% block title %}myprofile.{% endblock %}
{% block content %}
  {% if session["username"] %}
  <h1 class="header">myprofile.</h1><br>
  <div class="row">
    <div class="card profile-card body-text border-primary">
      {% if user.img_url %}
      <a href="/account/update-img/{{user.username}}"><img class="card-img-top profile-img img-fluid" src="{{user.img_url}}" alt="Profile-Pic"></a>
      {% else %}
      <a href="/account/update-img/{{user.username}}"><img class="card-img-top profile-img img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt1ceyneFkZchgkrwN7dZxWNl_C5Dctvc5BzNh_rEzPQ&s" alt="Profile-Pic"></a>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">Username: {{user.username}}</h5>
        {% if user.books %}
        <hr>
          <p class="card-text">Books in library: {{num_books}}</p>
          {% if num_shelves %}
          <p class="card-text">Bookshelves : {{num_shelves}}</p>
          {% endif %}
          {% if user.authors or user.subjects %}
          <hr>
          {% endif %}
          {% if user.authors %}
          <div class="text-info">Favorite author(s): 
            {% for author in user.authors[:1] %}
            {{author.name}}
            {% endfor %}
            {% for author in user.authors[1:5] %}
            | {{author.name}}
            {% endfor %}
          </div>
          {% else %}
          <a href="/favorite/favorite-author" class="btn btn-outline-success btn-sm">Add favorite authors</a>
          {% endif %}
          {% if user.subjects %}
          <div class="text-warning">Favorite subject(s): 
            {% for subject in user.subjects[:1] %}
            {{subject.name}}
            {% endfor %}
            {% for subject in user.subjects[1:5] %}
            | {{subject.name}}
            {% endfor %}
          </div>
          {% else %}
          <a href="/favorite/favorite-subject" class="btn btn-outline-success btn-sm">Add favorite subjects</a>
          {% endif %}
        {% else %}
        <p class="card-text">
          Go to Find Books to start adding books to your library!
        </p>
        {% endif %}
        <a href="/book/find-books" class="btn btn-outline-primary find-books-btn btn-sm">Find Books</a>
      </div>
    </div>
    <div>
      <div class="body-text">
        {% for book in user.books[-1:] %}
          <div class="card profile-card">
            <div class="card-body" style="background-color:{{book.color}};">
              <h5 class="card-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> Latest book entry:<br><br> <b>{{book.title}}</b> <p class="card-text book-author">
                by {{book.author}}
              </p></h5>
              <p class="card-text">
                {% if book.subject != 'Not Found' %}
                Subject(s): {{book.subject}} | 
                {% endif %}
              </p>
              {% if book.read_dates %}
              <p class="card-text">
                {% for date in book.read_dates %}
                {% if date.start_date %}
                Start date: {{date.start_date}}
                {% endif %}
                {% if date.end_date %}
                | End date: {{date.end_date}}
                {% endif %}
                {% endfor %}
              {% endif %}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  {% for user in users %}
    {% if user.username != session["username"] %}
      <h3 class="lead-text">fellow myreads users:</h3>
      <hr class="lead-text-hr">
      <div class="row user-card">
        <div class="card profile-card body-text border-primary user-card">
          {% if user.img_url %}
          <img class="card-img-top profile-img img-fluid" src="{{user.img_url}}" alt="Profile-Pic">
          {% else %}
          <img class="card-img-top profile-img img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt1ceyneFkZchgkrwN7dZxWNl_C5Dctvc5BzNh_rEzPQ&s" alt="Profile-Pic">
          {% endif %}
          <div class="card-body user-card">
            <h5 class="card-title">Username: {{user.username}}</h5>
            {% if user.books %}
              {% if user.authors or user.subjects %}
              <hr>
              {% endif %}
              {% if user.authors %}
              <div class="text-info">Favorite author(s): 
                {% for author in user.authors[:1] %}
                {{author.name}}
                {% endfor %}
                {% for author in user.authors[1:5] %}
                | {{author.name}}
                {% endfor %}
              </div>
              {% endif %}
              {% if user.subjects %}
              <div class="text-warning">Favorite subject(s): 
                {% for subject in user.subjects[:1] %}
                {{subject.name}}
                {% endfor %}
                {% for subject in user.subjects[1:5] %}
                | {{subject.name}}
                {% endfor %}
              </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="body-text user-card">
          <div class="body-text">
            {% for book in user.books[-1:] %}
              <div class="card profile-card">
                <div class="card-body" style="background-color:{{book.color}};">
                  <h5 class="card-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> Latest book entry: <br><br> <b>{{book.title}}</b><br><br> <p class="card-text book-author">
                    by {{book.author}}
                  </p></h5>
                  <p class="card-text">
                    {% if book.subject != 'Not Found' %}
                    Subject(s): {{book.subject}} | 
                    {% endif %}
                  </p>
                  {% if book.read_dates %}
                  <p class="card-text">
                    {% for date in book.read_dates %}
                    {% if date.start_date %}
                    Start date: {{date.start_date}}
                    {% endif %}
                    {% if date.end_date %}
                    | End date: {{date.end_date}}
                    {% endif %}
                    {% endfor %}
                  {% endif %}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% else %}
      <h1 class="header">Welcome to myreads!</h1>
      <p class="body-text">Keep track of your personal library. Rate and review what you read.</p>
  {% endif %}
{% endblock %}