{% extends 'base.html'  %}
{% block title %}Update Image{% endblock %}
{% block content %}

<h1 class="header">Update Image</h1>
<p class="lead body-text">Enter URL for user Profile Picture Below.</p>
<div class="form-container">
  <form method="POST" class="body-text form">

    {{ form.hidden_tag() }}

    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="form-control") }}

      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success btn-sm" type="submit">Update Image</button>
  </form>
</div>
{% endblock %}