{% extends 'base.html'  %}
{% block title %}mybookshelf.{% endblock %}
{% block content %}

<h1 class="header">mybookshelf.<img src="https://i.ibb.co/dLKHBVS/bookshelf-pic.png" alt="Bookshelf-Image" class="bookshelf-img-header"></h1>
<p class="lead body-text">View, add and remove books from bookshelf.</p>
  <div class="form-container">
    <h3 class="body-text">{{bookshelf.name}} bookshelf</h3>
    <p class="body-text">Search bookshelf books by author or title (or both)</p>
    <form method="POST" class="body-text form">
  
      {{ form.hidden_tag() }}
    
      {% for field in form
        if field.widget.input_type != 'hidden' %}
      <p>
        {{ field.label }}
        {{ field(class_="form-control") }}
    
        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
      </p>
      {% endfor %}
    
      <button class="btn btn-success btn-sm" type="submit">Search</button>
    
    </form>
  </div>

  {% if not bookshelf.books %}
  <div class="form-container">
  <p class="body-text center">This bookshelf is empty!</p>
  <a href="/bookshelf/add-book/{{bookshelf.id}}" class="btn btn-outline-primary btn-sm add-bookshelf-book-btn body-text">Add books to {{bookshelf.name}} bookshelf</a>
  </div>
  {% else %}
  <div class="form-container">
  <a href="/bookshelf/add-book/{{bookshelf.id}}" class="btn btn-outline-primary btn-sm add-bookshelf-book-btn form">Add books to {{bookshelf.name}} bookshelf</a>
  </div>
  <h5 class="body-text"><i>Bookshelf details: current list of books in {{bookshelf.name}} bookshelf</i></h5>
  <div class="card-deck body-text">
    {% for book in bookshelf.books[:4] %}
        <div class="card book">
          <div class="card-body" style="background-color:{{book.color}}">
            <h5 class="card-title book-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> <b>{{book.title}}</b></h5>
            <p class="card-text book-author">
              by {{book.author}}
            </p>
            <p class="card-text">
              {% if book.subject != 'Not Found' %}
              Subject(s): {{book.subject}} | 
              {% endif %}
              Publish Year: {{book.publish_year}}
            </p>
            <a href="/bookshelf/delete-bookshelf-book/{{bookshelf.id}}/{{book.id}}" class="btn btn-outline-danger btn-sm">Remove</a>
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="card-deck body-text">
    {% for book in bookshelf.books[4:8] %}
        <div class="card book">
          <div class="card-body" style="background-color:{{book.color}}">
            <h5 class="card-title book-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> <b>{{book.title}}</b></h5>
            <p class="card-text book-author">
              by {{book.author}}
            </p>
            <p class="card-text">
              {% if book.subject != 'Not Found' %}
              Subject(s): {{book.subject}} | 
              {% endif %}
              Publish Year: {{book.publish_year}}
            </p>
            <a href="/bookshelf/delete-bookshelf-book/{{bookshelf.id}}/{{book.id}}" class="btn btn-outline-danger btn-sm">Remove</a>
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="card-deck body-text">
    {% for book in bookshelf.books[8:12] %}
        <div class="card book">
          <div class="card-body" style="background-color:{{book.color}}">
            <h5 class="card-title book-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> <b>{{book.title}}</b></h5>
            <p class="card-text book-author">
              by {{book.author}}
            </p>
            <p class="card-text">
              {% if book.subject != 'Not Found' %}
              Subject(s): {{book.subject}} | 
              {% endif %}
              Publish Year: {{book.publish_year}}
            </p>
            <a href="/bookshelf/delete-bookshelf-book/{{bookshelf.id}}/{{book.id}}" class="btn btn-outline-danger btn-sm">Remove</a>
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="card-deck body-text">
    {% for book in bookshelf.books[12:16] %}
        <div class="card book">
          <div class="card-body" style="background-color:{{book.color}}">
            <h5 class="card-title book-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> <b>{{book.title}}</b></h5>
            <p class="card-text book-author">
              by {{book.author}}
            </p>
            <p class="card-text">
              {% if book.subject != 'Not Found' %}
              Subject(s): {{book.subject}} | 
              {% endif %}
              Publish Year: {{book.publish_year}}
            </p>
            <a href="/bookshelf/delete-bookshelf-book/{{bookshelf.id}}/{{book.id}}" class="btn btn-outline-danger btn-sm">Remove</a>
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="card-deck body-text">
    {% for book in bookshelf.books[16:20] %}
        <div class="card book">
          <div class="card-body" style="background-color:{{book.color}}">
            <h5 class="card-title book-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> <b>{{book.title}}</b></h5>
            <p class="card-text book-author">
              by {{book.author}}
            </p>
            <p class="card-text">
              {% if book.subject != 'Not Found' %}
              Subject(s): {{book.subject}} | 
              {% endif %}
              Publish Year: {{book.publish_year}}
            </p>
            <a href="/bookshelf/delete-bookshelf-book/{{bookshelf.id}}/{{book.id}}" class="btn btn-outline-danger btn-sm">Remove</a>
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="card-deck body-text">
    {% for book in bookshelf.books[20:24] %}
        <div class="card book">
          <div class="card-body" style="background-color:{{book.color}}">
            <h5 class="card-title book-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> <b>{{book.title}}</b></h5>
            <p class="card-text book-author">
              by {{book.author}}
            </p>
            <p class="card-text">
              {% if book.subject != 'Not Found' %}
              Subject(s): {{book.subject}} | 
              {% endif %}
              Publish Year: {{book.publish_year}}
            </p>
            <a href="/bookshelf/delete-bookshelf-book/{{bookshelf.id}}/{{book.id}}" class="btn btn-outline-danger btn-sm">Remove</a>
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="card-deck body-text">
    {% for book in bookshelf.books[24:28] %}
        <div class="card book">
          <div class="card-body" style="background-color:{{book.color}}">
            <h5 class="card-title book-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> <b>{{book.title}}</b></h5>
            <p class="card-text book-author">
              by {{book.author}}
            </p>
            <p class="card-text">
              {% if book.subject != 'Not Found' %}
              Subject(s): {{book.subject}} | 
              {% endif %}
              Publish Year: {{book.publish_year}}
            </p>
            <a href="/bookshelf/delete-bookshelf-book/{{bookshelf.id}}/{{book.id}}" class="btn btn-outline-danger btn-sm">Remove</a>
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="card-deck body-text">
    {% for book in bookshelf.books[28:32] %}
        <div class="card book">
          <div class="card-body" style="background-color:{{book.color}}">
            <h5 class="card-title book-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> <b>{{book.title}}</b></h5>
            <p class="card-text book-author">
              by {{book.author}}
            </p>
            <p class="card-text">
              {% if book.subject != 'Not Found' %}
              Subject(s): {{book.subject}} | 
              {% endif %}
              Publish Year: {{book.publish_year}}
            </p>
            <a href="/bookshelf/delete-bookshelf-book/{{bookshelf.id}}/{{book.id}}" class="btn btn-outline-danger btn-sm">Remove</a>
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="card-deck body-text">
    {% for book in bookshelf.books[32:36] %}
        <div class="card book">
          <div class="card-body" style="background-color:{{book.color}}">
            <h5 class="card-title book-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> <b>{{book.title}}</b></h5>
            <p class="card-text book-author">
              by {{book.author}}
            </p>
            <p class="card-text">
              {% if book.subject != 'Not Found' %}
              Subject(s): {{book.subject}} | 
              {% endif %}
              Publish Year: {{book.publish_year}}
            </p>
            <a href="/bookshelf/delete-bookshelf-book/{{bookshelf.id}}/{{book.id}}" class="btn btn-outline-danger btn-sm">Remove</a>
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="card-deck body-text">
    {% for book in bookshelf.books[36:40] %}
        <div class="card book">
          <div class="card-body" style="background-color:{{book.color}}">
            <h5 class="card-title book-title"><img src="https://i.postimg.cc/25g7DvGg/white-book-cover.png" alt="" class="book-img"> <b>{{book.title}}</b></h5>
            <p class="card-text book-author">
              by {{book.author}}
            </p>
            <p class="card-text">
              {% if book.subject != 'Not Found' %}
              Subject(s): {{book.subject}} | 
              {% endif %}
              Publish Year: {{book.publish_year}}
            </p>
            <a href="/bookshelf/delete-bookshelf-book/{{bookshelf.id}}/{{book.id}}" class="btn btn-outline-danger btn-sm">Remove</a>
          </div>
        </div>
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}