{% extends 'base.html'  %}
{% block title %}addbook.{% endblock %}
{% block content %}

<h1 class="header">addbook.<img src="https://i.ibb.co/nRR4rd4/book-img.png" alt="book-img" class="book-img-header"></h1>
<p class="lead body-text">Manually enter book here.</p>
<div class="form-container">
  <form method="POST" class="body-text form">

    {{ form.hidden_tag() }}
  
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="form-control") }}
  
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}
  
    <button class="btn btn-success btn-sm" type="submit">Add book</button>
    <a href="/book/find-books" class="btn btn-outline-dark btn-sm">Back to find books</button>
  
  </form>
</div>
{% endblock %}