{% extends 'base.html'  %}
{% block title %}Verify Email{% endblock %}
{% block content %}

<h1 class="header">Verify Email</h1>
<p class="lead body-text">Enter your email address below and submit.</p>
<div class="form-container">
  <p class="body-text">Check your inbox for an email with the subject "Myreads email verification".</p>
  <p class="body-text">Copy the six digit code for use in the verification form.</p>
  <form method="POST" class="body-text form">

    {{ form.hidden_tag() }}

    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="form-control") }}

      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success btn-sm" type="submit">Send Code</button>
  </form>
</div>
{% endblock %}